<div>
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- SystemTextInputPanel -->
                <chatgepeto-system-text-input-panel></chatgepeto-system-text-input-panel>

            </div>
        </div>
        <div class="row">
            <div class="col">

                <!-- UAExchangePanel-->
                <chatgepeto-uaexchange-panel></chatgepeto-uaexchange-panel>

            </div>
        </div>
        <div class="row">
            <div class="col">

                <!-- ExchangeControlPanel -->
                <chatgepeto-exchange-control-panel></chatgepeto-exchange-control-panel>

            </div>
        </div>
    </div>
</div>
