<div>
    <table>
        <tr>
            <td>

                <!-- SystemTextInputPanel -->
                <chatgepeto-system-text-input-panel></chatgepeto-system-text-input-panel>

            </td>
        </tr>
        <tr>
            <td>

                <!-- UAExchangePanel-->
                <chatgepeto-uaexchange-panel></chatgepeto-uaexchange-panel>

            </td>
        </tr>
        <tr>
            <td>

                <!-- ExchangeControlPanel -->
                <chatgepeto-exchange-control-panel></chatgepeto-exchange-control-panel>

            </td>
        </tr>
    </table>
</div>
