<div class="c3-panel">
    <div class="c3-exchange-setting-input">
        <select class="c3-select-input" name="">
            <option class="" value="">Select mode...</option>
        </select>
    </div>
    <div class="c3-exchange-setting-input">
        <select class="c3-select-input" name="">
            <option class="" value="">Select model...</option>
        </select>
    </div>
    <div class="c3-exchange-setting-input">
        <select class="c3-select-input" name="">
            <option class="" value="">Select temperature...</option>
        </select>
    </div>
    <div class="c3-exchange-setting-input">
        <select class="c3-select-input" name="">
            <option class="" value="">Select maximum output...</option>
            <option class="" value="">256</option>
            <option class="" value="">512</option>
            <option class="" value="">1024</option>
            <option class="" value="">1536</option>
            <option class="" value="">2048</option>
            <option class="" value="">3072</option>
            <option class="" value="">4096</option>
        </select>
    </div>
    <div class="c3-exchange-setting-input">
        <select class="c3-select-input" name="">
            <option class="" value="">Select Top p...</option>
        </select>
    </div>
    <div class="c3-exchange-setting-input">
        <select class="c3-select-input" name="">
            <option class="" value="">Select presence penalty...</option>
        </select>
    </div>
    <div class="c3-exchange-setting-input">
        <select class="c3-select-input" name="">
            <option class="" value="">Select frequency penalty...</option>
        </select>
    </div>
</div>