<div class="c3-xchg-panel">
    <div class="c3-xchg-unit">
        <button class="btn btn-secondary">
            User
        </button>
        <textarea class="c3-xchg-input">

        </textarea>
    </div>
    <div class="c3-xchg-unit">
        <button class="btn btn-secondary">
            Assistant
        </button>
        <textarea class="c3-xchg-input">

        </textarea>
    </div>
    <div class="c3-xchg-unit">
        <button class="btn btn-primary">
            + Add message...
        </button>
    </div>
</div>
