<div class="c3-xchg-panel container">
    <div class="c3-xchg-unit row">
        <div class="col-auto">
            <button class="btn btn-secondary btn-lg">
                User
            </button>
        </div>
        <div class="col">
            <textarea class="c3-xchg-input form-control">

            </textarea>
        </div>
    </div>
    <div class="c3-xchg-unit row">
        <div class="col-auto">
            <button class="btn btn-secondary btn-lg">
                Assistant
            </button>
        </div>
        <div class="col">
            <textarea class="c3-xchg-input form-control">

            </textarea>
        </div>
    </div>
    <div class="c3-xchg-unit row">
        <div class="col">
            <button class="btn btn-primary btn-lg">
                + Add message...
            </button>
        </div>
    </div>
</div>
