<div class="c3-panel">
    <div class="c3-list container-sm">
        <div class="row">
            <div class="col">

                <button class="btn btn-secondary btn-lg">
                    New Chat
                </button>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="c3-chats-sep">Today</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="c3-chat-item">Reasearch on plants</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="c3-chat-item">Eggplan pizza recipes</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="c3-chats-sep">Last 7 days</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="c3-chat-item">Astronomy &amp; astrology</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="c3-chat-item">Marketing promotions</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="c3-chats-sep">Last week</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="c3-chat-item">1800s horoscopes</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="c3-chats-sep">Last month</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                ---
            </div>
        </div>
    </div>
</div>