<div class="c3-panel">
    <table class="c3-list">
        <tr>
            <td>

                <button class="btn btn-secondary">
                    New Chat
                </button>

            </td>
        </tr>
        <tr>
            <td>
                <span class="c3-chats-sep">Today</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="c3-chat-item">Reasearch on plants</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="c3-chat-item">Eggplan pizza recipes</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="c3-chats-sep">Last 7 days</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="c3-chat-item">Astronomy &amp; astrology</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="c3-chat-item">Marketing promotions</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="c3-chats-sep">Last week</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="c3-chat-item">1800s horoscopes</span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="c3-chats-sep">Last month</span>
            </td>
        </tr>
        <tr>
            <td>
                ---
            </td>
        </tr>
    </table>
</div>