<div class="c3-app">
    <form>
        <table class="grid">
            <tr>
                <td colspan="3">

                    <!-- AppNavBar -->
                    <chatgepeto-app-nav-bar></chatgepeto-app-nav-bar>

                </td>
            <tr>
                <td colspan="3">

                    <!-- CollectionsBar -->
                    <chatgepeto-collections-bar></chatgepeto-collections-bar>

                </td>
            </tr>
            <tr>
                <td>

                    <!-- ChatCollectionPanel -->
                    <chatgepeto-chat-collection-panel></chatgepeto-chat-collection-panel>

                </td>
                <td>

                    <!-- ExchangePanel -->
                    <chatgepeto-exchange-panel></chatgepeto-exchange-panel>

                </td>
                <td>

                    <!-- ExchangeSettingsPanel -->
                    <chatgepeto-exchange-settings-panel></chatgepeto-exchange-settings-panel>

                </td>
            </tr>
            <tr>
                <td colspan="3">

                    <!-- StatusBar -->
                    <chatgepeto-status-bar></chatgepeto-status-bar>

                </td>
            </tr>
        </table>
    </form>
</div>