<div class="c3-app container-fluid">
    <form>
        <div class="grid">

            <div class="row">
                <div class="col-12">

                    <!-- AppNavBar -->
                    <chatgepeto-app-nav-bar></chatgepeto-app-nav-bar>

                </div>
            </div>

            <div class="row">
                <div class="col-12">

                    <!-- CollectionsBar -->
                    <chatgepeto-collections-bar></chatgepeto-collections-bar>

                </div>
            </div>

            <div class="row">
                <div class="col-12">

                    <div class="row">
                        <div class="col-1">

                            <!-- ChatCollectionPanel -->
                            <chatgepeto-chat-collection-panel></chatgepeto-chat-collection-panel>

                        </div>
                        <div class="col-8">

                            <!-- ExchangePanel -->
                            <chatgepeto-exchange-panel></chatgepeto-exchange-panel>

                        </div>
                        <div class="col-3">

                            <!-- ExchangeSettingsPanel -->
                            <chatgepeto-exchange-settings-panel></chatgepeto-exchange-settings-panel>

                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-12">

                    <!-- StatusBar -->
                    <chatgepeto-status-bar></chatgepeto-status-bar>

                </div>
            </div>

        </div>
    </form>
</div>