<div class="c3-panel container-fluid">
    <div class="c3-panel-unit row align-items-center">
        <div class="col">
            <select class="c3-select-collection form-select-lg">
                <option>Load a collection...</option>
                <option>My chats on astrology</option>
                <option>Chats on copy writing</option>
                <option>Animal stuff</option>
            </select>
            <button class="btn btn-primary btn-lg">
                New
            </button>
            <button class="btn btn-secondary btn-lg">
                Save
            </button>
        </div>
        <div class="col-auto">
        </div>
        <div class="col">
            <input type="search" name="c3-search form-control-lg">
            <button class="btn btn-secondary btn-lg">
                Search
            </button>
        </div>
    </div>
</div>