<div class="c3-panel">
    <select>
        <option>Load a collection...</option>
        <option>My chats on astrology</option>
        <option>Chats on copy writing</option>
        <option>Animal stuff</option>
    </select>

    <button class="btn btn-primary">
        New
    </button>
    <button class="btn btn-secondary">
        Save
    </button>
    <div class="c3-spacer">
    : <!-- better spacer here -->
    </div>
    <input type="search" name="c3-search">
    <button class="btn btn-secondary">
    Search
    </button>
</div>